
* {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  margin: 0;
}

body {
  background-color: aquamarine;
}

canvas {
  border: 5px solid #9c27b0;
  box-shadow: 0 0 3px 1px #8ba2c0;
}

#app {
  display: flex;
  justify-content: center;
  margin-top: 12px;
  vertical-align: middle;
}
